<div class="container">
  <div class="card">
    <div class="card-header">
      SORF Search
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-4" *ngIf="refseqs|async; let dbs">
          <div class="form-group">
            <label for="Database">Select DB:</label>
            <select class="form-control" id="Database" [(ngModel)]="db">
              <option *ngFor="let d of dbs" [value]="d.ID" [disabled]="!checkIfAvailable(d.ID, avalabileRefSeqDB)">{{d.Name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-4" *ngIf="db">
    <div class="card-body">
      <form [formGroup]="form">
        <div class="form-group">
          <label for="fastaFile">Select Query Fasta File:</label>
          <input type="file" id="fastaFile" class="form-control-file" (change)="loadFasta($event)">
        </div>
        <div *ngIf="sequences.length >0">
          <small>
            {{sequences.length}} sequences have been loaded.
          </small>
        </div>
        <div class="row">
          <div class="col-sm-4" *ngIf="bDB|async; let bDB">
            <div *ngIf="codonStart|async">
              <div class="form-group">
                <label for="StartCodon">Select Start & Stop Codons Combination:</label>
                <select multiple class="form-control" id="StartCodon" formControlName="Blastdb">
                  <option *ngFor="let d of bDB" [value]="d.id">{{codonMap.get(d.starting_codon_id)}} - {{codonMap.get(d.ending_codon_id)}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="evalue">TBlastX Evalue Cut-off:</label>
              <input class="form-control" id="evalue" type="text" formControlName="Evalue">
            </div>
          </div>
        </div>
        <div class="text-right mt-4">
          <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
