<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">{{title}}</a>
  <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="exCollapsingNavbar2">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/home" routerLinkActive="active" class="nav-link">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a routerLink="/sorf" routerLinkActive="active" class="nav-link">SORF Search <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a routerLink="/admin" routerLinkActive="active" class="nav-link">Admin <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class="main-com">
  <router-outlet></router-outlet>
</div>

